.wrapper{
width: 1280px;
margin: auto;
font-family: Roboto;
font-style: normal;
font-weight: 400;
line-height: normal;
}

/* Header */

.header{
display: flex;
width: 334px;
height: 79px;
font-size: 80px;
font-weight: 400;
margin: 63px 1048px 40px 0px;
}

.name {
color: #000;
text-align: center;
}

.mda{
color: #4BCAFF;
}

.nav{
background-color:#35444F;
display: flex;
align-items: center;
color: #FFF;
font-size: 24px;
margin-bottom: 49px;
}

.link{
text-decoration: none;
color: white;
display: flex;
border: 1px solid white;
}

.list {
display: flex;
}
  
.link-1{
width: 162px;}

.link-2{
padding: 24px 32px 17px 32px;}

.link-3{
padding: 23px 38px 18px 38px;}

 /* .link-3:hover{
    width: 153px;
    height: 72px;
    } */

.link-4{
padding: 23px 40px 18px 40px;}

 .link-5{
padding: 22px 26px 19px 40px;}   
  
 .link-6{
padding: 0;}
 

/* Main */

.aside{
border: 1px solid #000;
background: rgba(0, 0, 0, 0.00); 
width: 344px;
height: 399px;
color: #485863;
font-size: 27px;
font-weight: 400;
line-height: 27px; /* 100% */ 
display: flex;
margin-right: 52px;     
    }

.aside-list {
display: flex;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
padding: 0;
} 

.aside-list-1{
padding: 26px 194px 35px 44px;  
    }
       
.aside-list-2{
padding: 27px 152px 27px 38px;

    }

    /* .aside-list-2:hover {
        width: 342px;
        height: 81px;
        flex-shrink: 0;
    } */

.aside-list-3{
padding: 25px 82px 52px 42px ;        
            }

.aside-list-4{
padding: 0px 121px 52px 44px;
 }

.aside-list-5{
padding: 0px 147px 30px 44px ;
        }

.main{
display: flex;
 }

 .main-left{
width: 885px;
display: flex;
flex-direction: column;
 }
   
.top-image{
display: flex;
height: 529px;
margin-bottom: 37px;
}

 .image{
display: flex;
border: 1px solid #000;
padding: 75px 268px 73px 297px;
flex-shrink: 0;  
width: 320px;
height: 381px;
     }

.text {
color: #2C2C2C;
font-size: 18px;
font-weight: 400;
line-height: 24px; /* 133.333% */
margin-bottom: 54px;
text-align: justify;
        
    }


/* Footer */

.footer{
display: flex;
flex-direction: row;
background: rgba(99, 105, 110, 0.48);
width: 1280px;
height: 69px;
flex-shrink: 0;
align-items: center; 
    }

.footer-nav{
color: #0C1927;
font-family: Roboto;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 100% */
    }

.footer-list{
display: flex;
flex-direction: row;
margin-right: 135px;
margin-left: 40px;
align-content: stretch;
    }
     
.footer-item{
margin: 0 45px 0 0; }

.footer-item-last{
margin: 0;
   }

.footer-link{
color: #3181A6; 
   }
     

.footer-data{
color: #010101;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 100% */
margin-right: 40px;
    }